/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /Reset */
.box{
  margin: auto;
  width: 90%;
  height:1000px;
}
.involucro{
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
}
/* INTESTAZIONE */
header{
  background-color: #e266d7;
  height:calc(12% - 10px); /*da togliere successivamente*/
}
/* /INTESTAZIONE */
/* BANNER */
main{
  background-color: #d4cd66;
  height:calc(35% - 10px); /*da togliere successivamente*/
}
/* /BANNER */
/* -------------------CORPO DELLA PAGINA------------------- */
/* CLEARFIX */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* /CLEARFIX */
section{
  background-color: #42b2f5;
  height:calc(45% - 10px); /*da togliere successivamente*/
}
.int-top{
  background-color: lightblue;
  width: 100%;
  height: 10%; /*da togliere successivamente*/
}
.container{
  width: 100%;
  height: 90%; /*da togliere successivamente*/
}
.col{
  float: left;
  background-color: lightblue;
  margin: 10px;
}
.sx, .dx {
  height:calc(100% - 20px); /*da togliere successivamente*/
  width:calc(15% - 20px);
}
.cen {
  height:calc(100% - 20px); /*da togliere successivamente*/
  width:calc(70% - 20px);
}
/* -------------------/CORPO DELLA PAGINA------------------- */
/* PIE DI PAGINA */
footer{
  background-color: #a313de;
  height:calc(8% - 20px); /*da togliere successivamente*/
}
/* /PIE DI PAGINA */
