/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /Reset */
body{
  background-color: #cecece;
}
.box{
  background-color: green;
  margin: auto;
  padding: 10px;
  width: 90%;
  height:100vh;
}
/* INTESTAZIONE */
header{
  background-color: pink;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  height:calc(10% - 10px); /*da togliere successivamente*/
}
/* /INTESTAZIONE */
/* BANNER */
main{
  background-color: yellow;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  height:calc(35% - 10px); /*da togliere successivamente*/
}
/* /BANNER */
/* -------------------CORPO DELLA PAGINA------------------- */
section{
  background-color: blue;
  margin: auto;
  margin-bottom: 5px;
  width: 100%;
  height:calc(45% - 5px); /*da togliere successivamente*/
}
/* -------------------/CORPO DELLA PAGINA------------------- */
/* PIE DI PAGINA */
footer{
  background-color: red;
  margin: auto;
  /* margin-bottom: 10px; */
  width: 100%;
  height:calc(10% - 10px); /*da togliere successivamente*/
}
/* /PIE DI PAGINA */
